body{
  background-color: #AFBECD;
  font-family: helvetica;
  color: white;
}
h1{
  color: #6B7681;
}
h3{
  color: #6B7681;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #8E9CAA;
  text-decoration: none;
}
